* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightskyblue;
}

.container {
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(200px, 250px) 1fr;
  grid-template-rows: 80px 1fr;
}

header {
  font-size: 2rem;
  grid-area: 1 / 1 / 2 / 3;
  align-self: center;
  background-color: lightblue;
  padding: 25px 10px;
}

.side-bar {
  background-color: lightpink;
  padding: 20px 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, auto);
  align-content: flex-start;
  gap: 20px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 140px;
}

#add-new-task {
  grid-area: 1 / 1 / 2 / 3;
  justify-self: end;
}

.due-groups {
  grid-area: 2 / 1 / 3 / 2;
}

details {
  grid-area: 3 / 1 / 4 / 3;
  justify-self: end;
  text-align: end;
}

form[name="new-project-form"] {
  margin: 10px 0;
}

#project-name {
  width: 200px;
  margin-bottom: 10px;
}

.projects {
  grid-area: 4 / 1 / 5 / 2;
}

li {
  list-style: none;
  padding: 5px 0;
}

.due-groups li,
.projects li {
  padding-top: 5px;
}

.main-content {
  background-color: lightcyan; 
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
}


.view {
  display: grid;
  grid-template-columns: 1fr 60px;
  grid-template-rows: 50px 1fr;
  margin-bottom: 20px;
}

.head-line {
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#new-task-modal {
  padding: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  display: block;
  background-color: blueviolet;
  z-index: 1010;
}

#new-task-modal.closed {
  display: none;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.modal-overlay.closed {
  display: none;
}

.modal-header {
  font-size: 2rem;
}

.close-button {
  cursor: pointer;
  float: right;
  font-size: 3rem;
  color: lightgray;
  font-weight: bold;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  padding: 0;
}

form {
  margin: 25px;
  font-size: 1.23rem;
}

fieldset {
  margin-bottom: 10px;
  padding: 10px;
}

input, select {
  font-size: 1rem;
  padding: 0.2rem;
}

#title {
  width: 50%;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

table {
  width: 100%;
  text-align: left;
}

th, td {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.hidden-row {
  display: none;
}