* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightskyblue;
}

.container {
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(200px, 250px) 1fr;
  grid-template-rows: 80px 1fr;
}

header {
  font-size: 2rem;
  grid-area: 1 / 1 / 2 / 3;
  align-self: center;
  background-color: lightblue;
  padding: 25px 10px;
  display: flex;
  justify-content: space-between;
}

#add-new-task {
  background-image: url(./img/add-task.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: lightblue;
  height: 30px;
  width: 30px;
}

.side-bar {
  background-color: lightpink;
  padding: 20px 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: repeat(3, auto);
  align-content: flex-start;
}

.active {
  font-weight: bold;
  font-size: 1.1rem;
}

.checked td input {
  pointer-events: all;
}

#today::before {
  background: url(./img/today.svg) no-repeat;
}

#next-week::before {
  background: url(./img/week.svg) no-repeat;
}

#no-date::before {
  background: url(./img/no-date.svg) no-repeat;
}

#uncompleted::before {
  background: url(./img/uncompleted.svg) no-repeat;
}

#completed::before {
  background: url(./img/completed.svg) no-repeat;
}

#today::before,
#next-week::before ,
#no-date::before, 
#uncompleted::before,
#completed::before {
  content: '';
  display: block;
  background-size: contain;
  float: left;
  height: 20px;
  width: 20px;
  margin: 0 6px 0 0;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 140px;
}

.due-groups {
  grid-area: 1/ 1 / 2 / 2;
}

.due-counter,
.projects-counter {
  justify-self: end;
}


details {
  grid-area: 2 / 1 / 3 / 3;
  justify-self: center;
  text-align: center;
  margin: 20px 0 10px 0;
}

form[name="new-project-form"] {
  margin: 10px 0;
}

#project-name {
  width: 150px;
  margin-bottom: 10px;
}

.projects-counter {
  grid-area: 3 / 2 / 4 / 3;
}

.projects {
  grid-area: 3 / 1 / 4 / 2;
}

#submit-new-project {
  background-image: url(./img/add-project.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: lightpink;
  height: 30px;
  width: 30px;
}

li {
  list-style: none;
  padding: 5px 0;
}

.due-groups li,
.projects li {
  padding-top: 5px;
}

.main-content {
  background-color: lightcyan; 
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
}


.view {
  display: grid;
  grid-template-columns: 1fr 60px;
  grid-template-rows: 50px 1fr;
  margin-bottom: 20px;
}

.head-line {
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checked {
  pointer-events: none;
  color: gray;
  background-color: #F9F9F9;
  text-decoration: line-through;
  transition: background 0.2s;
}

#new-task-modal {
  padding: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  display: block;
  background-color: blueviolet;
  z-index: 1010;
}

#new-task-modal.closed {
  display: none;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.modal-overlay.closed {
  display: none;
}

.modal-header {
  font-size: 2rem;
}

.close-button {
  cursor: pointer;
  float: right;
  font-size: 3rem;
  color: lightgray;
  font-weight: bold;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  padding: 0;
}

form {
  margin: 25px;
  font-size: 1.23rem;
}

fieldset {
  margin-bottom: 10px;
  padding: 10px;
}

input, select {
  font-size: 1rem;
  padding: 0.2rem;
}

#title {
  width: 50%;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

table {
  width: 100%;
  text-align: left;
}

th, td {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

thead th:first-child,
body tr td:first-child {
  width: 20px;
}

thead th:nth-child(2),
body tr td:nth-child(2) {
  width: 50px;
}

thead th:nth-child(4),
body tr td:nth-child(4) {
  width: 100px;
}

thead th:last-child,
body tr td:last-child {
  width: 50px;
}

.hidden-row {
  display: none;
}